<head>
  <title>Bootstrap 4 Drop Down Menu</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  <!-- External CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    type="text/css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
    integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

</head>
<!------ Include the above in your HEAD tag ---------->
<!-- App CSS -->
<!-- <link rel="stylesheet" href="styles/main_resource.css" type="text/css" /> -->

<body>
  <header>
    <%- include('partials/_header') %>
  </header>
  <div id="login">
    <h3 class="text-center text-danger pt-5">RESOURCE WALL</h3>
    <div class="main-resource">
      <article class="resource" style="padding: 20px">
        <div class="info">
          <div>
            <a class="resourceTitleTag" href=<%= resource_info.url %>> <%= resource_info.title%></a>
          </div>
          <span class="name"><b>Creator: </b><%= resource_info.username %><span>
              <span class="rating"><b> Avg Rating: </b><%= resource_info.avg%></span>
        </div>
        <p class="resource-data"><%= resource_info.description %></p>

        <footer class="footer">
          <div class="enter-rating">
            <!-- <form action="/<%= resource_id %>/rate" method="POST"></form> -->
            <label>Rating:</label>
            <input class="rating-box" type="text" name="rating" placeholder="rate 1-5">
            <button type="submit rating" class="btn-addRating">Submit</button>
          </div>


          <span class="date"><b>Date Created:</b><%= resource_info.created_at%></span>

          <div class="is-like">
            <!-- <form action="/<%= resource_id %>/Like" method="POST"></form> -->
            <!-- Has to change   i class="fas fa-thumbs-up"    to a button -->
            <a href="/resources/<%=resource_id%>/like" class="btn-like"><%= likeOrNot %><i class="fas fa-thumbs-up"></i></a>
          </div>

        </footer>
      </article>
    </div>
    <article class="comment" style="padding: 20px">
      <div class="new-comment" style="border-style: dotted">
        <form action="resources/comments/<%=resource_id%>/new" method="POST"></form>
        <label>Add new comment:</label>
        <input class="comment-box" type="text" name="newComment" placeholder="Enter comment...">
        <button type="submit" class="btn-addComment">Submit</button>
      </div>
    </article>
    <div class="old-comment" style="border-style: dotted">
      <% for(let x = 0; x < comments_info.length ; x++){ %>
      <article class="comment" style="padding: 20px">
        <div class="info">
          <span class="name"><%= comments_info[x].username %><span>
              <span class="date"><b>Date Created:</b><%= comments_info[x].created_at%></span>
              <p class="comment-data"><%= comments_info[x].comment %></p>
        </div>
      </article>
      <% } %>
    </div>
  </div>
</body>
